body{
    background-color: blueviolet;
    text-align: center;
    padding: 50px;
}
.block, .block2 {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    padding:25 px;
    background-color: rgb(255, 255, 255);
    border: solid 2px black;
}

.block p {
    color: chocolate;

}

.block2 {
 
    background-color: green;
 
}
.block2{
    color: coral;
}


@media (max-width 500px) {
    body {
        background-color: blue;
    }
}